@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

section {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-left: 40px;
}
#azul {
  background-color: blue;
  width: 200px;
  height: 200px;
}
#rojo {
  background-color: red;
  width: 200px;
  height: 200px;
}
#verde {
  background-color: green;
  width: 200px;
  height: 200px;
}
#amarillo {
  background-color: yellow;
  width: 200px;
  height: 200px;
}
#key {
  background-color: white;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin-top: 10px;
}

.cuadrado_blank {
  margin-top: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.cuadrado_blank p {
  text-align: center;
  margin-top: 10px;
}
